@charset "utf-8";
/* CSS Document */

/*
* The common things
*/

body {
    color: #413f3f;
    padding-bottom: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
    font-size: 16px;
}
a {
    color: #337ab7;
}
a:hover, a:visited {
    color: #0066FF;
 }
* {
    padding: 0;
    margin: 0;
}
small {
    color: rgba(0, 0, 0, 0.75) !important;
}
.container {
    padding: 0 40px;
}
.card {
    background: #FFF;
    border-radius: 1px;
    margin-top: 35px;
    padding: 3%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    transition-duration: 0.5s;
    display: block;
}
.user-op-card {
    width: 320px;
    height: 320px;
    position: fixed;
    top: -20px;
    left: -570px;
    z-index: 10;
    padding: 1%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.18);
}
.user-op-card-foo {
    margin-left: 820px;
}
#side-register {
    height: 460px;
}
.tight {
    padding: 0;
    margin: 0;
}
.footer {
    margin-top: 30px;
    padding: 30px 40px 20px 40px;
    background-color: white;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
}
.alert-sign {
    font-size: 20px;
}
@media (max-width: 992px) {
    .container {
        margin-top: 35px;
    }
}
@media (min-width: 992px) {
    .container {
        width: auto;
        max-width: 1050px;
    }
}
.side-avatar {
    transition-duration: 0.3s;
    height: 110px;
    width: 110px;
    margin-bottom: 5px;
}
.side-avatar:hover {
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
}

/*
* The rotating things
*/

.back-hidden {
    transform: rotateY(90deg);
}
.front-hidden {
    transform: rotateY(-90deg);
}

/*
* The form things
*/

.form-group {
    margin-bottom: 0;
}
.form-submit-group {
    margin-top: 20px;
}
.form-control:focus {
    border: 2px solid #FF7373;
}
label {
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 0;
}

/*
* The border things
*/

.top-border-red {
    border-top: 5px solid #FF7373;
    padding-top: 10px;
}
.top-border-blue {
    border-top: 5px solid #0066FF;
    padding-top: 10px;
}
.top-border-orange {
    border-top: 5px solid #FF6600;
    padding-top: 10px;
}
.left-border-red {
    border-left: 6px solid #FF7373;
    padding-left: 5px;
}
.left-border-blue {
    border-left: 6px solid #56A5EB;
    padding-left: 5px;
}
.left-border-orange {
    border-left: 6px solid #FF6600;
    padding-left: 5px;
}

/*
* The gotop & goback button
*/
.tool-button {
    text-align: center;
    text-align: -webkit-center;
    position:fixed;
    text-decoration:none;
    background-color: #E74C3C;
    z-index: 9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    transition-duration: 0.5s;
}
.tool-button:hover {
    background-color: #E73934;
}
.tool-button span {
    width:50px;
    height:50px;
    color:white;
    padding-top: 10px;
    font-size:27px;
    text-align:center;
    padding-right: 2.3px;
}
.gotop {
    bottom:50px;
    right:-60px;
    width: 50px;
    height: 50px;
}
.gotop-show {
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
}
.goback {
    top: 85px;
    left: 20px;
    margin-left: 240px;
}

.sidebar {
    margin-top: 30px;
    padding-left: 12.5px;
    max-width: 215px;
    text-align: center;
    color: white;
}
.sidebar a {
    color: white;
}

/*
* The left-nav things
*/

.Naving {
    overflow-x: hidden;
}
.wrapper {
    margin-left: 240px;
    transition-duration: 0.5s;
    background: #F6F6F6 !important;
    width: auto;
    height: 100%;
    position: relative;
    padding-top: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.06);
}
.wrapper.foo {
    width: 100%;
    transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
}
.openNav {
    margin-left: 240px;
    transition-duration: 0.5s;
    width: 50px;
    height: 50px;
    background-color: #E74C3C;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.openNav.foo,
.goback.foo {
    transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
}
.openNav:hover {
    background-color: #E73934;
    cursor: pointer;
}
.openNav .icon {
    background-color: transparent;
    transition-duration: 0.2s;
    position: absolute;
    width: 30px;
    height: 2px;
    top: 24px;
    left: 10px;
}
.openNav .icon:before,
.openNav .icon:after {
    transition-duration: 0.5s;
    background-color: white;
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    left: 0px;
}
.openNav.foo .icon:after,
.openNav.foo .icon:before {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
.openNav.foo .icon:before {
    top: -7px;
}
.openNav.foo .icon:after {
    top: 7px;
}
.openNav.foo .icon {
    background-color: white;
}
.openNav .icon:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.openNav .icon:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left-nav {
    background-color: #34495E;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
.left-nav ul li a {
    padding: 5px 40px;
    display: block;
    color: white;
}
.left-nav ul:hover li a {
    color: rgba(255, 255, 255, 0.5);
}
.left-nav ul li:hover a,
.left-nav ul li a:hover {
    color: white;
}
.left-nav ul {
    width: 225px;
    margin-top: 25px;
}
.left-nav ul:hover li {
    color: rgba(255, 255, 255, 0.5);
}
.left-nav ul li {
    transition-duration: 0.25s;
    display: block;
    color: white;
    letter-spacing: 0.02em;
    text-align: right;
    font-size: 20px;
}
.left-nav ul li:hover {
    cursor: pointer;
    color: white;
    background-color: #E74C3C;
    transform: translateX(20px);
}

.page-nav {
    text-align: center;
}
.pagination {
    display: inline-block;
}
.pagination li {
    background-color: transparent !important;
}

/*
* The list things
*/

.panel-heading {
    background-color: #3498DB;
    border: none;
    color: #fff;
}
.penel-heading a:link,
.penel-heading a:visited,
.penel-heading a:hover,
.penel-heading a:active {
    color: white;
}
.panel-collapse {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
}

/* For mobile devices */
@media (max-width: 992px) {
    .Naving {
        overflow: hidden;
    }
    .wrapper {
        margin-left: 0px;
    }
    .wrapper.foo {
        transform: translateX(240px);
        -webkit-transform: translateX(240px);
    }
    .openNav {
        margin-left: 0px;
    }
    .openNav.foo,
    .goback.foo {
        transform: translateX(240px);
        -webkit-transform: translateX(240px);
    }
    .openNav .icon:before {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        top: -7px;
    }
    .openNav .icon:after {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        top: 7px;
    }
    .openNav .icon {
        background-color: white;
    }
    .openNav.foo .icon {
        background-color: transparent;
    }
    .openNav.foo .icon:before,
    .openNav.foo .icon:after {
        top: 0;
    }
    .openNav.foo .icon:before {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .openNav.foo .icon:after {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    .new-line-992 {
        display: block;
    }
}
/* And smaller */
@media (max-width: 768px) {
    .new-line-768 {
        display: block;
    }
    .mysbr {
        display: block;
    }
    .container {
        padding: 0 15px 0 15px;
    }
    .user-op-card-foo {
        margin-left: 330px;
    }
}
/* Such smalllllll */
@media (max-width: 400px) {
    .new-line-400 {
        display: block;
    }
}

/*
* The problem things
*/

.problem-list-na {
    width: 15%;
}
.problems-tag h6 {
    display: inline;
}

/*
* The solution things
*/

.solution-area {
    padding-left: 5px;
    padding-top: 0;
    margin-top: 20px;
}
.solution-area p {
    line-height: 1;
    padding-left: 10px;
}
.solution-area pre {
    margin-top: 5px;
}
.solution-bigheading {
    padding: 6px 4px 6px 5px;
}
.solution-heading {
    margin-top: 10px;
}
.solution-post {
    text-align: right;
    margin-bottom: 5px;
    margin-top: 5px;
}