@charset "utf-8";
/* CSS Document */

body {
  color: #505050;
  background: #ebebeb;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-bottom: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
  font-size: 16px;
}
