@charset "utf-8";
/* CSS Document */

@media (max-width: 768px) {
.container {
  margin: 0 10px 10px 10px;
}
}
@media (min-width: 768px) {
.container {
  max-width: 730px;
}
}
.card {
  background: #FFF;
  border-radius: 3px;
  padding: 3%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}
.footer {
  padding: 3px 5px 1px 5px;
  border-top: 1px solid #e5e5e5;
}
h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
